.about{
    font-family: sans-serif;
    margin-top: 3rem;
}
@media only screen and (max-width: 700px) {
    section{
        margin-top: 3rem;
    }
  }

  .abt-img{
      overflow: hidden;
      
  }
  .about-image:hover{
        transform: scale(1.05);
        transition: all ease-out 1s;
  }