.nav-item{
    margin-left: 1.5rem;
    color      : #292929;
    font-family: sans-serif;
    letter-spacing: .02rem;
    transition: all ease .6s;
    text-decoration: none;
    font-weight: 600;
}
.brand-logo:hover{
cursor: pointer;
transform: scale(1.1);
transition: all ease .4s;
}

.nav-item:hover{
    cursor: pointer;
    color: #8C9DF4;
    text-decoration: none;
    
}
.nav-item>.active{
    background: #8C9DF4;
    padding: .25rem .5rem;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.nav-container{
    position: relative;
    
}

.drop-icon{
    color: #8C9DF4;
    font-size: 1.2rem;
    margin-left: .25rem;
}

#userPopup{
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 20px;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
}

#userPopup p{
    font-weight: 500;
}
#noPopUp{
    display: none;
}


