.brand-text{
    color: #8C9DF4;
}
.section-heading{
    color: #FF9E55;
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
    margin: 1rem 0;
    font-family: sans-serif;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* .section-heading::before{
    content: url(../src/Images/icons/PlumbAfter.png);
    opacity: 0.3;
    position: absolute;
    left: -15px;
    top: -5px;
    height: 20px;
    z-index: -1;
    }
     */

.brand-btn-primary{
    color: white;
    background: #8C9DF4;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all ease .4s;
  }

  .brand-btn-primary:hover{
    border: 2px solid #8C9DF4;
    background: #6173d0;
    
  }
  
  .brand-btn-secondary{
    color: white;
    background: #343A40;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: .5rem 1rem;
  margin-right: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all ease .4s;
  }

  .brand-btn-secondary:hover{
    border: 2px solid #22262b;
    background: #22262b;
    
  }
  
  .brand-btn-ternary{
    color: tomato;
    background: transparent;
    outline: none;
    border: 2px solid tomato;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all ease .4s;
  }

  .brand-btn-ternary:hover{
    color: white;
    background: tomato;
    outline: none;
    border: 2px solid tomato;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  .brand-bg-primary{
    background: #8C9DF4;
    }
    
    .brand-bg-secondary{
      background: #343A40;
    }
  