.service-content{
    background: white;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all ease .4s;
    height: 400px;
    
}
.service-content:hover{
    background: #FFEEE2;
}


.book-btn{
    background: #FF9E55;
    padding: .35rem 1rem;
    border:none;
    border-radius: 10px 0;
    color: white;
}

.book-btn:hover{
    transform: translateY(-10%);
    transition: all ease .4s;
}